#hangman-container {
	/*border: 1px solid black;*/
	position: relative;
	left: 10%;
	width: 600px;
	height: 900px;
	text-align: center;
	display: none;
}

.input-field {
	position: relative;
	top: 50px;
}

.ltr-inp {
	width: 50px;
	height: 30px;
	font-size: 20px;
	padding: 5px;
}

.btn {
	padding: 10px;
	font-size: 14px;
}

p {
	position: relative;
	top: 130px;
	right: 100px;
}
#dashed-letter-line {
	position: relative;
	top: 100px;
}
span {
	margin-left: 25px;
	border-bottom: 2px solid black;
	/*color: #FFF;*/
	font-size: 25px;
	padding-left: 10px;
}



